---
import ContainerLayout from "@layouts/ContainerLayout.astro";
import { Image } from "astro:assets";
import cssImage from "../assets/images/css.png";
import htmlImage from "../assets/images/html.png";
import jsImage from "../assets/images/js.png";
import reactImage from "../assets/images/react.png";
import nextImage from "../assets/images/next.png";
import supabaseImage from "../assets/images/supabase.png";
---

<ContainerLayout>
  <ul class="category">
    <li class="category-list">
      <a href="/blog/css">
        <Image src={cssImage} alt="css" />
      </a>
    </li>
    <li class="category-list">
      <a href="/blog/html">
        <Image src={htmlImage} alt="html" />
      </a>
    </li>
    <li class="category-list">
      <a href="/blog/js">
        <Image src={jsImage} alt="js" />
      </a>
    </li>
    <li class="category-list">
      <a href="/blog/react">
        <Image src={reactImage} alt="react" />
      </a>
    </li>
    <li class="category-list">
      <a href="/blog/supabase">
        <Image src={supabaseImage} alt="supabase" />
      </a>
    </li>
    <li class="category-list">
      <a href="/blog/next">
        <Image src={nextImage} alt="next" />
      </a>
    </li>
  </ul>
</ContainerLayout>

<style>
  .category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    gap: 20px;
  }
  .category-list {
    width: 100%;
  }
  .category-list > a {
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease-in-out;
  }
  .category-list > a:is(:hover) {
    background-color: var(--gray-100);
  }
  .category-list > a > img {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    .container {
      width: 100%;
    }
    .category {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
