---
import cn from "src/lib/cn";
import Button from "./Button.astro";
import Icon from "./Icon.astro";
import Link from "./Link.astro";

const { category, posts } = Astro.props;
const { slug } = Astro.params;

const isExpanded = false;
---

<category-navigation data-category={category}>
  <Button
    intent="teritory"
    className="relative z-10 mb-2 flex w-full items-center justify-between text-base"
  >
    {category}
    <Icon id="arrow" icon="arrow" className="-rotate-90 transition-transform" />
  </Button>
  <div id="list" class={cn("ml-2 flex flex-col", isExpanded ? "" : "hidden")}>
    {
      posts.map((post: any) => (
        <Link
          href={`/blog/${category}/${post.slug}`}
          size="sm"
          intent={post.slug === slug ? "primary" : "secondary"}
          padding="md"
        >
          {post.data.title}
        </Link>
      ))
    }
  </div>
</category-navigation>

<script>
  class CategoryNavigation extends HTMLElement {
    connectedCallback() {
      const category = this.dataset.category;
      const button = this.querySelector("#button");
      const list = this.querySelector("#list");
      const arrow = this.querySelector("#arrow");

      const isExpanded =
        sessionStorage.getItem(`category-${category}`) === "true";
      if (isExpanded) {
        list?.classList.remove("hidden");
        arrow?.classList.remove("-rotate-90");
      }

      button?.addEventListener("click", () => {
        const isHidden = list?.classList.toggle("hidden");
        arrow?.classList.toggle("-rotate-90");
        sessionStorage.setItem(`category-${category}`, String(!isHidden));
      });
    }
  }
  customElements.define("category-navigation", CategoryNavigation);
</script>
