---
import ToggleTableOfContents from "@components/ToggleTableOfContents";
import Layout from "./Layout.astro";
import { getEntry } from "astro:content";
import { formatDateElapsed, formatDateToMDY } from "src/utils/formatDate";
import Tags from "@components/Tags";
import ProseWrapper from "@components/ProseWrapper.astro";
import TableOfContents from "@components/TableOfContents";
import Utterances from "@components/Utterances.astro";

const { frontmatter } = Astro.props;
const { slug } = Astro.params;

const post: any = await getEntry(frontmatter.category, slug);
const { headings } = await post.render(post);
---

<Layout>
  <div class="mt-8 flex w-full flex-col xl:flex-row xl:justify-center">
    <ToggleTableOfContents client:only="preact" headings={headings} />
    <div>
      <div class="my-8 flex w-full flex-col px-4 md:px-8 xl:max-w-[752px]">
        <p class="m-0 text-5xl font-bold text-zinc-700 dark:text-zinc-200">
          {frontmatter.title}
        </p>
        <p class="ml-px mt-2 text-sm text-zinc-500">
          {formatDateToMDY(frontmatter.pubDate)} · {
            formatDateElapsed(frontmatter.pubDate)
          }
        </p>
        {frontmatter.tags.length >= 1 && <Tags tags={frontmatter.tags} />}
      </div>
      <div class="mt-8 w-full border-b border-zinc-200 dark:border-zinc-800">
      </div>
      <ProseWrapper
        as="article"
        className="my-8 w-full px-4 md:px-8 lg:max-w-[752px]"
      >
        <slot />
      </ProseWrapper>

      <div class="mt-8 w-full border-b border-zinc-200 dark:border-zinc-800">
      </div>
      <div class="my-8 w-full px-4 lg:max-w-[752px] xl:px-8">
        <Utterances client:load />
      </div>
    </div>
    <TableOfContents client:only="preact" headings={headings} />
  </div>
</Layout>
